page-cart-modal {

}
.closeButton{
	color:#000;
	margin:0;
	padding:0;
	text-align:left;
}
.keranjangBelanja{
	font-weight: 700;
	font-size: 1.6em;
	padding: 0;
	margin: 0;
	color: #1c3170;
	text-transform: uppercase;
	font-family: 'Poppins', sans-serif;
}
.commonText{
	font-size:1.3em;
	color:#47454b;
	font-family: 'Poppins', sans-serif;
	margin:0;
}
.commonTextGreen{
	font-size:1.1em;
	color:#65b598;
	font-family: 'Poppins', sans-serif;
	margin:0;
}
.commonTextBlue{
	font-size:1.3em;
	color:#69b4f6;
	font-family: 'Poppins', sans-serif;
	margin:0;
}
